{% extends 'base.html' %}
{% load static %}
{% block content %}


{% if user.is_authenticated %}


{% include 'player/inserts/page_header.html' %}

<section id="content">
    <div class="container">
        <div class="row">
            <div class="span4">
            <!-- Left Column -->
                {% include 'player/inserts/left_column.html' %}
            </div>
            <div class="span8">
                <article>
                    <div class="row">
                        <div class="span8">
                        {% if user.id == object.id %}
                            <a href="{% url 'update_single_player' object.pk %}">+ Edit your profile</a>
                        {% endif %}
                            <!-- author info -->
                            <div class="about-author">
                                <a href="#" class="thumbnail align-left"><img src="{% static 'img/team/jr_65.png'%}" alt=""/></a>
{#                                <a href="#" class="thumbnail align-left"><img src="{% static 'img/avatar.png'%}" alt=""/></a>#}
                                <h5><strong><a href="#">
                                    {% if object.big_name %}
                                    {{object.big_name}}
                                    {% else %}
                                    {{ object.player_id }}

                                    {% endif %}

                                </a></strong>,
                                    {% if object.player_club_id %}
                                    <a href="{% url 'view_single_club' pk=object.player_club_id %}">{{ object.player_club }},
                                        {{ object.get_club_position_display }}</a>
                                    {% else %}
                                    <a href="{% url 'view_all_clubs' %}">not a member of any club</a>
                                    {% endif %}

                                </h5>

                                <p>
                                    Last played [playername] and [won/lost] by [points]. Our statistics show your closest matched player is [playername].
                                    you rank 3489483 in the system behind [playername] and in front of [playername]
                                </p>
                            </div>
                            <blockquote>
                                <i class="icon-quote-left"></i> {{ object.cc_notes }}
                            </blockquote>
                            <div class="post-image">
{#                                <div class="post-heading">#}
{#                                    <h3><a href="#">Statistics</a></h3>#}
{#                                </div>#}
{#                                <img src="{%  static 'img/dummies/blog/img1.jpg'%}" alt=""/>#}
                            </div>

                            <form action="" method="post">{% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" value="Update" />
                            </form>



                        </div>
                    </div>
                </article>


            </div>
        </div>
    </div>
</section>

{% else %}
<h3>Sorry, you need to be logged in to view player information.</h3>
{# Compare the player's profiles.#}
{% endif %}



{% endblock content %}