{% load static %}
<div class="row">
    <div class="span12">
        <h4><strong>Fancy Fingers</strong> vs <strong>The Big Finish</strong></h4>
    </div>
    <div class="span4">
        <div class="pricing-box-alt special">
            <div><a href="#" class="thumbnail align-self-center"><img src="{% static 'img/team/jr_65.png'%}" alt=""/></a></div>
            <div class="pricing-heading">
                <h3>Fancy <strong>Fingers</strong></h3>
            </div>
            <div class="pricing-terms">
                <h6>PPD 42.526</h6>
            </div>
            <div class="pricing-content">
                <ul>
                    <li><i class="icon-ok"></i> 242 games</li>
                    <li><i class="icon-ok"></i> 197 wins</li>
                    <li><i class="icon-ok"></i> 81.4%</li>
                    <li><i class="icon-ok"></i> 2 x 180's</li>
                    <li><i class="icon-ok"></i> 3 x 171's</li>
                </ul>
            </div>
{#            <div class="pricing-action">#}
{#                <a href="#" class="btn btn-medium btn-theme"><i class="icon-bolt"></i> Register now</a>#}
{#            </div>#}
        </div>
    </div>
    <div class="span4">

        <div class="pricing-box-alt">
            <div><a href="#" class="thumbnail align-self-center"><img src="{% static 'img/avatar.png'%}" alt=""/></a></div>
            <div class="pricing-heading">
                <h3>The Big <strong>Finish</strong></h3>
            </div>
            <div class="pricing-terms">
                <h6>PPD 15.342</h6>
            </div>
            <div class="pricing-content">
                <ul>
                    <li><i class="icon-ok"></i> 49 games</li>
                    <li><i class="icon-ok"></i> 35 wins</li>
                    <li><i class="icon-ok"></i> 71.4%</li>
                    <li><i class="icon-ok"></i> 0 x 180's</li>
                    <li><i class="icon-ok"></i> 0 x 171's</li>
                </ul>
            </div>
{#            <div class="pricing-action">#}
{#                <a href="#" class="btn btn-medium btn-theme"><i class="icon-bolt"></i> Register now</a>#}
{#            </div>#}
        </div>
    </div>
</div>

Pre-handicap Prediction:<br>
            <div class="progress">
                <div class="bar bar-success bar90"></div>
                <div class="bar bar-danger bar10"></div>
            </div>

            Start of match Prediction:<br>
            <div class="progress">
                <div class="bar bar-success bar55"></div>
                <div class="bar bar-danger bar45"></div>
            </div>

            Current Prediction:<br>
            <div class="progress">
                <div class="bar bar-success bar60"></div>
                <div class="bar bar-danger bar40"></div>
            </div>