{% load static %}
<h4>Fancy Fingers vs The Big Finish</h4>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Leg</th>
        <th colspan="2">

            501<br>handicap -000
        </th>
        <th colspan="2">

            301<br>handicap -200
        </th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <td>#1</td>
        <td>-61</td><td><b>441</b></td>
        <td>-26</td><td><b>275</b></td>
    </tr>

    <tr>
        <td>#2</td>
        <td>-180</td><td><b>261</b></td>
        <td>-57</td><td><b>218</b></td>
    </tr>

    <tr>
        <td>#3</td>
        <td>-60</td><td><b>158</b></td>
        <td>-46</td><td><b>172</b></td>
    </tr>

    <tr>
        <td>#4</td>
        <td>-140</td><td><b>18</b></td>
        <td>-121</td><td><b>51</b></td>
    </tr>

    <tr>
        <td>#5</td>
        <td class="alert alert-success">.</td><td><b>.</b></td>
        <td>.</td><td><b>.</b></td>
    </tr>

    </tbody>
</table>

