{% load static %}
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span6">
                <div class="inner-heading">
                    <h2>Live Game #FN2187
                    </h2>
                </div>
            </div>
            <div class="span6">
                <ul class="breadcrumb">
                    <li><a href="{% url 'home' %}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                    <li><a href="#">Games</a><i class="icon-angle-right"></i></li>
                    <li class="active">Live Game FN2187</li>
                </ul>
            </div>
        </div>
    </div>
</section>