{% extends 'base.html' %}
{% load static %}
{#{% load socialaccount %}#}
{#{% providers_media_js %}#}

{% block content %}

<section id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1>Features</h1>

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Feature</th>
                        <th>Description</th>
                        <th>Now</th>
                        <th>Coming Soon</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Club Creation</td>
                        <td>Create a club with a constitution and ruleset that is compliant with Darts Australia</td>
                        <td><i class="icon-check icon-2x"></i></td>
                        <td><i class="icon-ok-sign icon-2x"></i></td>
                    </tr>
                    <tr>
                        <td>Member Management</td>
                        <td>Accept, suspend, remove members.</td>
                        <td><i class="icon-check icon-2x"></i></td>
                        <td><i class="icon-ok-sign icon-2x"></i></td>
                    </tr>
                    <tr>
                        <td>Payment Management</td>
                        <td>Accept monthly fees from your members*</td>
                        <td><i class="icon-minus icon-2x"></i></td>
                        <td><i class="icon-ok-sign icon-2x"></i></td>
                    </tr>

                    <tr>
                        <td>Match and League Management</td>
                        <td>Create and monitor matches and leagues.</td>
                        <td><i class="icon-minus icon-2x"></i></td>
                        <td><i class="icon-ok-sign icon-2x"></i></td>
                    </tr>
                    <tr>
                        <td>Full Statistics</td>
                        <td>Every player has their statistics that follow them for life.</td>
                        <td><i class="icon-check icon-2x"></i></td>
                        <td><i class="icon-ok-sign icon-2x"></i></td>
                    </tr>
                    <tr>
                        <td>Statistics use</td>
                        <td>Use the statistics to find better opponents and challenges.</td>
                        <td><i class="icon-minus icon-2x"></i></td>
                        <td><i class="icon-ok-sign icon-2x"></i></td>
                    </tr>
                    <tr>
                        <td>Full Rankings</td>
                        <td>Ranks of Clubs, and players, locally (within their club and team) and globally amongst all memebrs.</td>
                        <td><i class="icon-minus icon-2x"></i></td>
                        <td><i class="icon-ok-sign icon-2x"></i></td>
                    </tr>

                    <tr>
                        <td>No hidden fees</td>
                        <td>Pay the one low price per member, per month.</td>
                        <td><i class="icon-minus icon-2x"></i></td>
                        <td><i class="icon-ok-sign icon-2x"></i></td>
                    </tr>

                    <tr>
                        <td>Integrated moblie apps</td>
                        <td>Under development for Apple and Android devices.</td>
                        <td><i class="icon-minus icon-2x"></i></td>
                        <td><i class="icon-ok-sign icon-2x"></i></td>
                    </tr>

                    <tr>
                        <td>Full game scoring</td>
                        <td>SCore your favorite games using our wep app or integrated mobile apps</td>
                        <td><i class="icon-minus icon-2x"></i></td>
                        <td><i class="icon-ok-sign icon-2x"></i></td>
                    </tr>

                    <tr>
                        <td>Full Developer API</td>
                        <td>Allow direct scoring from your current favorite app!</td>
                        <td><i class="icon-minus icon-2x"></i></td>
                        <td><i class="icon-ok-sign icon-2x"></i></td>
                    </tr>

                    </tbody>
                </table>


            </div>
        </div>
        <!-- divider -->
        <div class="row">
            <div class="span12">
                <div class="solidline">
                </div>
            </div>
        </div>
        <!-- end divider -->


    </div>
</section>

{% endblock content %}