{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}




<section id="content">
      <div class="container">
        <div class="row">
          <div class="span12">
                <h1>required for Facebook Integration</h1>
                <p>We will not sell your data</p>
                <p>You own your data</p>
                <p>We will delete all of your data upon request, with exception of data that is linked to other playes statistics, in which case
                <br>Only the bare minimal data required to ensure other players stats are not skewed, will be maintained and anonymised.</p>
                <p>Any queries plase get in touch.</p>
          </div>
        </div>
        <!-- divider -->
        <div class="row">
          <div class="span12">
            <div class="solidline">
            </div>
          </div>
        </div>
        <!-- end divider -->



      </div>
    </section>

{% endblock content %}