{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}

<section id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1>Terms of Services</h1>
                <h2>General</h2>
                <ol>
                    <li>Bullying and harrassment will not be tolerated in any form on ChalkerOne</li>
                    <li>Club Committees are responsible for the payment of members fees.</li>
                    <li>Members fees are calulated at the start of each month, for the amount of members from the previous month, or part thereof.</li>
                    <li>Any Individual, member, team, club, committee, or web user found to be using exploits int he website or associated infrastructure, to increase the scores or statistics of themselves or any other entity registered on CahalkerOne, will immediately have their account terminated. This extends to accomplices, and, individuals or entities that are aware of exploits being utilised and fail to report.</li>
                    <li>Sandbagging is entirely discouraged by ChalkerOne. Where our statistics identify sandbagging by any individual or entity, these will be passed to the highest level of that individual or entity's membered organisation for investigation.</li>
                </ol>
                <h2>Privacy and your data</h2>
                <p>ChalkerOne is statistics based cannot operate without collecting your data. You submit your data to us with full knowledge of this.</p>
                <p>ChalkerOne is occasionally required to share data with third parties for development and statistical analysis.</p>
                <p>ChalkerOne will not sell your data but we may use it to target advertising on our site.</p>
                <p>With the exception of submitted dart specific data that you have shared with us knowing we require it to operate; you own your data (ie images uploaded, forum posts, status updates).</p>
                <p>ChalkerOne will delete all of your personal data upon request.
                    <br>Only the bare minimal data required to ensure other players stats are not skewed, will be
                    maintained and anonymised.</p>
                <p>Please do not hesitate to contact us directly with any questions regarding your data and how it is used.</p>
            </div>
        </div>

    </div>
</section>

{% endblock content %}