{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>ChalkerOne - Darts Management System by Car RamRod</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <!-- css -->
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:300,400,600,700" rel="stylesheet">

  <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet" />
  <link href="{% static '/css/bootstrap-responsive.css' %}" rel="stylesheet" />
  <link href="{% static '/css/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
  <link href="{% static '/css/jcarousel.css' %}" rel="stylesheet" />
  <link href="{% static '/css/flexslider.css' %}" rel="stylesheet" />
  <link href="{% static '/css/style.css' %}" rel="stylesheet" />
  <!-- Theme skin -->
  <link href="{% static '/skins/default.css' %}" rel="stylesheet" />
  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png" />
  <link rel="shortcut icon" href="ico/favicon.png" />

  <!-- =======================================================
    Theme Name: Flattern
    Theme URL: https://bootstrapmade.com/flattern-multipurpose-bootstrap-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>

<div id="wrapper">
  <!-- toggle top area -->
    <div class="hidden-top">
      <div class="hidden-top-inner container">
        <div class="row">
          <div class="span12">
            <ul>
                <li><strong>Match in progress - <a href="{% url 'live_game' %}">click here</a></strong></li>
              <li>Location: Wck Tavern</li>
              <li>players <i class="icon-circle"></i> FancyFingers - The Big Finish</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- end toggle top area -->
    <!-- start header -->
    {% include 'header_menu.html' %}
    <!-- end header -->