{% load static %}
<header>
      <div class="container ">
        <!-- hidden top area toggle link -->
        <div id="header-hidden-link">
          <a href="#" class="toggle-link" title="Click me you'll get a surprise" data-target=".hidden-top"><i></i>Open</a>
        </div>
        <!-- end toggle link -->
        <div class="row nomargin">
          <div class="span12">
            <div class="headnav">
              <ul>

                  {% if user.is_authenticated %}
                  <li><a href="{% url 'account_logout' %}" data-toggle="modal">Sign out</a></li>
                  <li><a href="{% url 'view_single_player' pk=user.id %}" data-toggle="modal">My Profile</a></li>
                  {% else %}
{#                  <li><a href="#mySignup" data-toggle="modal"><i class="icon-user"></i> Sign up</a></li>#}
                <li><a href="{% url 'account_signup' %}" data-toggle="modal"><i class="icon-user"></i> Sign up</a></li>
{#                <li><a href="#mySignin" data-toggle="modal">Sign in</a></li>#}
                <li><a href="{% url 'account_login' %}" data-toggle="modal">Sign in</a></li>
                  {% endif %}
              </ul>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="span4">
            <div class="logo">
              <a href="{% url 'home' %}"><img src="{%  static 'img/ChalkerOne.png'%}" alt="" class="logo" /></a>
{#              <h1>Darts Club Management System</h1>#}
            </div>
          </div>
          <div class="span8">
            <div class="navbar navbar-static-top">
              <div class="navigation">
                <nav>
                  <ul class="nav topnav">
                    <li>
                      <a href="{% url 'home' %}">Home</a>
                    </li>

                  <li class="dropdown">
                      <a href="#">About <i class="icon-angle-down"></i></a>
                      <ul class="dropdown-menu">
                          <li><a href="{% url 'features' %}">Features</a></li>
                          <li><a href="{% url 'privacy' %}">Privacy</a></li>
                          <li><a href="{% url 'terms_of_service' %}">Terms of Service</a></li>
                          <li><a href="{% url 'tutorials' %}">Tutorials</a></li>
                      </ul>
                  </li>
                      <li>
                          <a href="#">Leagues</a>
                      </li>
                      <li>
                          <a href="{% url 'view_all_clubs' %}">Clubs</a>
                      </li>
                      <li>
                          <a href="{% url 'view_players' %}">Players</a>
                      </li>
                      <li>
                          <a href="{% url 'live_game' %}">Live Games</a>
                      </li>

                  </ul>
                </nav>
              </div>
              <!-- end navigation -->
            </div>
          </div>
        </div>
      </div>
    </header>