{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="content">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h1>Registered Clubs</h1>

                {% for club in object_list %}
              <h2><a href="{% url 'view_single_club' club.pk %}">{{ club.club_name }}</a></h2>
                <ul>
                    <li>Established: {{ club.date_established }}</li>
                    <li>{{ club.get_club_status_display }}</li>
                    <li>Fees: {{ club.club_member_fees }}</li>
                    <li>Meets: {{ club.get_club_meeting_frequency_display }}</li>

                </ul>
                {% endfor %}

          </div>
        </div>
        <!-- divider -->
        <div class="row">
          <div class="span12">
            <div class="solidline">
            </div>
          </div>
        </div>
        <!-- end divider -->

      </div>
    </section>

{% endblock content %}