{% extends 'base.html' %}
{% load static %}
{% block content %}

    {% include 'club/inserts/page_header.html' %}

    <section id="content">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <!-- Left Column -->
                    {% include 'club/inserts/left_column.html' %}
                </div>
                <div class="span8">
                    {% for club in object_list %}
                        <article>
                            <div class="row">
                                <div class="span8">
                                    {#                        {% if user.id == object.id %}#}
                                    {#                            <a href="{% url 'update_single_player' object.pk %}">+ Edit your profile</a>#}
                                    {#                        {% endif %}#}

                                    <!-- club info -->
                                    <div class="about-author">
                                        <a href="{% url 'view_single_club' club.pk %}">
                                            {% if club.club_banner_image %}
                                                <img class="card-img-top" src="{% url 'home' %}media/{{ club.club_banner_image  }}" alt="Club Banner">
                                            {% else %}
                                                <img class="card-img-top" src="{% static 'img/ChalkerOne.png' %}" alt="Club Banner">
                                            {% endif %}
                                        </a>

                                        <h5><strong><a href="{% url 'view_single_club' club.pk %}">{{ club.club_name }}</a></strong>,
                                            {{ club.get_club_status_display }} club,
                                            meets {{ club.get_club_meeting_frequency_display }},
                                            ${{ club.club_member_fees }}.

                                        </h5>

                                        <p>est: {{ club.date_established }}</p>

                                        <p>
                                            Last played [club] and [won/lost] by [points]. Our statistics show your
                                            closest matched club is [club].
                                            this club ranks 3489483 in the system behind [club] and in front of [club].
                                        </p>
                                        <a href="{% url 'view_single_club' club.pk %}"><i class="icon-plus"></i> Request to join</a>&nbsp;
                                        <a href="{% url 'view_single_club' club.pk %}"><i class="icon-group"></i> View members</a>&nbsp;
                                        <a href="{% url 'view_single_club' club.pk %}"><i class="icon-tasks"></i> View stats</a>&nbsp;
                                        <a href="{% url 'view_single_club' club.pk %}"><i class="icon-info-sign"></i> Ask a question</a>
                                    </div>


                                </div>
                            </div>
                        </article>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>

{% endblock content %}