{% load static %}
<h4>Statistics</h4>
<table class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Stat</th>
        <th>You</th>
        <th>.</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Name</td>
        <td>{{object.player}}</td>
        <td>.</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Win percent</td>
        <td>{{object.win_percent}}</td>
        <td>.</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Total games played</td>
        <td>{{object.games_played}}</td>
        <td>.</td>
    </tr>

    <tr>
        <td>4</td>
        <td>Total wins</td>
        <td>{{object.total_wins}}</td>
        <td>.</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Total score</td>
        <td>{{object.games_played}}</td>
        <td>.</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Total darts thrown</td>
        <td>{{object.total_darts_thrown}}</td>
        <td>.</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Points Per Dart (PPD)</td>
        <td>{{object.points_per_dart}}</td>
        <td>.</td>
    </tr>

    <tr>
        <td>8</td>
        <td>Six Dart Out (6DO)</td>
        <td>{{object.six_dart_out}}</td>
        <td>.</td>
    </tr>

    <tr>
        <td>9</td>
        <td>Seven Dart Out (7DO)</td>
        <td>{{object.seven_dart_out}}</td>
        <td>.</td>
    </tr>
    <tr>
        <td>10</td>
        <td>Eight Dart Out (8DO)</td>
        <td>{{object.eight_dart_out}}</td>
        <td>.</td>
    </tr>
    <tr>
        <td>11</td>
        <td>Nine Dart Out (9DO)</td>
        <td>{{object.nine_dart_out}}</td>
        <td>.</td>
    </tr>
    <tr>
        <td>12</td>
        <td>Four Round Out (4RO)</td>
        <td>{{object.four_round_out}}</td>
        <td>.</td>
    </tr>
    <tr>
        <td>13</td>
        <td>180's</td>
        <td>{{object.triple_treble_twenty}}</td>
        <td>.</td>
    </tr>

    <tr>
        <td>14</td>
        <td>Treble Bed</td>
        <td>{{object.triple_treble_other}}</td>
        <td>.</td>
    </tr>
    <tr>
        <td>15</td>
        <td>Half Ton</td>
        <td>{{object.half_ton}}</td>
        <td>.</td>
    </tr>
    <tr>
        <td>16</td>
        <td>Low Ton</td>
        <td>{{object.low_ton}}</td>
        <td>.</td>
    </tr>
    <tr>
        <td>17</td>
        <td>High Ton</td>
        <td>{{object.high_ton}}</td>
        <td>.</td>
    </tr>
    <tr>
        <td>18</td>
        <td>170 Peg</td>
        <td>{{object.one_seventy_peg}}</td>
        <td>.</td>
    </tr>
    <tr>
        <td>19</td>
        <td>171's</td>
        <td>{{object.one_seven_one}}</td>
        <td>.</td>
    </tr>
    <tr>
        <td>20</td>
        <td>Notes</td>
        <td>{{object.cc_notes}}</td>
        <td>.</td>
    </tr>

    </tbody>
</table>